/*body{
background-image: url(fondo.jpg) !important;
background-size: 100% 100%;
background-attachment: fixed;
}*/

/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 100;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face{
font-family: airways;
font-style: italic;
src: url('../fonts/airways.ttf');
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff9800 !important; /*Modificado, se agrega.*/
  font-weight: 300; /*Modificado, se agrega.*/
}

nav {
  height: 63px !important; /*Modificado, 56px; Altura de Nav < 543px*/
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem !important;
    color: #ff9800 !important;
}

nav ul a:hover {
  background-color: #c8e6c9 !important; /*Cambiar el color al pasar el cursor sobre el menu*/
}

.input-field.col label {
  pointer-events: none !important; /*Modificado, se agrega para poder seleccionar el input encima del label*/
}

.error{
     font-size: 0.8rem;
    color: #FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.adaptar{
  width: 100%;
}

.promo {
    width: 100% !important;
}
.promo-example {
    overflow: hidden !important;
}
.promo i {
    margin: 0px 0 !important;
    color: #484743;
    font-size: 7rem !important;
    display: block;